

<!-- Here we need to put the logic  -->

<div class="searchBar">
	<form>
	<input type="text" placeholder="Search for a Recipe">
	<button type="submit"><i>Search</i></button>
	</form>
</div>

