<div class="searchMenu">
	<form>
		<fieldset>
			<label for="update">What would you like to update?</label>
			<br />
    <select name = "selection" id="update"> 
      <option value = "name">Name</option>
      <option value = "tags">Tags</option>
      <option value = "time">Cook Time</option>
      <option value = "source">Source</option>
	  <option value = "ingredients">Ingredients</option>
	  <option value = "instructions">Instructions</option>
    </select>
			<br />
			<textarea rows="10" col="100" id = "content"></textarea>
			<br />
			
			<button type="submit"><i>Submit</i></button>
		</fieldset>
	</form>
</div>
