<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="rec_styles.css">
  <title>Cook Book</title>

</head>

<body>

<header>
<nav>
	<ul>  
		<li><a href="add.html">Add Recipe</a></li>
        <li><a href="browse.html">Random</a></li>
		<li><a href="advSearch.html">Advanced Search</a></li>  
	</ul>
</nav>
<div class="colorBar">  </div>
</header>


	{{{body}}}


  

</body>
</html>