<div class="searchMenu">
	<form>
		<fieldset>
			<legend>Search</legend>
			<label>What would you like to search by?
			<br />
			<select name = "table">
			<option values = "name">Name</option>
			<option values = "tag">Tag</option>
			<option values = "time">Cook Time</option>
			<option values = "ingredient">Ingredient</option>
			<option values = "source">Source</option>
			</select>
			</label>
			<br />
 			<br />

			<label>Name:
				<input type="text" name="name">
   			</label>
			<br />
			<label>Tag or Type:
				<input type="text" name="tag">
			</label>
			<br />
			
			<label>Cook Time in Min:
				<select name = "moreOrLess"> 
      				<option value = "more">&gt;</option>
      				<option value = "less">&lt;</option>
      				<option value = "equals">exactly</option> 
 				</select>
				<input type="text" name="time">
			</label>
			<br />

			<label>Indredient:
				<input type="text" name="ingredient">
			</label>
			<br />

			<label>Source:
				<input type="text" name="source">
			</label>
			<br />

			<button type="submit"><i>Submit</i></button>
		</fieldset>
	</form>
</div>

<div class="searchMenu">
</div>
