<script>
function searchResults(){
	let time = document.getElementById('timeVal').value;
	let gtlt = document.getElementById('selection').value;


	// http request for recipes
	let xhr = new XMLHttpRequest();
	xhr.open('GET', "/searchResults?timeVal=" + time + "&selection=" + gtlt, false);
	xhr.addEventListener('load', function(event){
		if(xhr.status >= 200 && xhr.status < 400){
			event.preventDefault();	
			var response = JSON.parse(xhr.responseText);
			console.log(response);
			buildTable(response);
		}
		else{
			console.log("Error: " + xhr.status);
			return null;
		}
	});

	xhr.send();
	return false;

}


function buildTable(recipes){	
	//Prep table
	let recipeSection = document.getElementById('recipes');
	while(recipeSection.firstChild){
		recipeSection.removeChild(recipeSection.firstChild);
	}	
	

	for (let i = 0; i < recipes.length; i++) {
		let recipe_row = document.createElement('tr');
		recipe_row.id = recipes[i].id;
		
		// add source of recipe to table
		let name = document.createElement('td');
		name.textContent = recipes[i].name;
		recipe_row.appendChild(name);
		
		// add source of recipe to table
		let serving_size = document.createElement('td');
		serving_size.textContent = recipes[i].serving_size;
		recipe_row.appendChild(serving_size);

		// add source of recipe to table
		let cook_time = document.createElement('td');
		cook_time.textContent = recipes[i].cook_time;
		recipe_row.appendChild(cook_time);

		// add source of recipe to table
		let instructions = document.createElement('td');
		instructions.textContent = recipes[i].instructions;
		recipe_row.appendChild(instructions);

		// add source of recipe to table
		let source = document.createElement('td');
		source.textContent = recipes[i].source_id;
		recipe_row.appendChild(source);
		
		recipeSection.appendChild(recipe_row);
	}
}
</script>


<div class="searchMenu">
	<form>
		<fieldset>
			<legend>Search</legend>
			<label>Cook Time in Min:
				<select name = "moreOrLess" id = "selection"> 
      				<option value = ">">more than</option>
      				<option value = "<">less than</option>
      				<option value = "=">exactly</option> 
 				</select>
				<input type="text" name="time" id = "timeVal">
			</label>
			<br />

			<button id="searchButton" onclick="return searchResults()"><i>Search</i></button>
		</fieldset>
	</form>
</div>

<div >
	<table id="recipes">
		<tr>
			<th>Name</th>
			<th>Cook Time</th>
		</tr>
	</table>
</div>
