<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/rec_styles.css">
  <title>Cook Book</title>


</head>

<body>

<header>
<nav>
  <ul>  
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/sources">Sources</a></li>
    <li><a href="/ingredients">Ingredients</a></li>
    <li><a href="/tags">Tags</a></li>
    <li><a href="/recipe_tag">Recipe Tags</a></li>
  </ul>
</nav>
<div class="colorBar">  </div>
</header>


	{{{body}}}


  

</body>
</html>
